@import './mixin'

html
	min-height:100%
	position:relative

body
	color: #222
	padding:0
	margin:0
	height:100%

h2
	text-align: center
	font-size: 22px

p
	text-align: center
	font-size: 16px

.stack > *:not(.active) 
	display:none


article#main
	display:inline-block
	width:100%
	height: 100%
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial"
	font-weight: 100

	.buttons
		&:hover, &:active
			text-decoration: none

	.sidebar
		position:absolute
		top:50px
		display:inline-block
		width:480px
		height:100%
		overflow-y:auto
		overflow-x:hidden
		padding-right:0

		@media (min-width: 520px) and (max-width: 768px)
			width: 40%

		#searchbar
			position:absolute
			width:465px
			font-size:1.1em
			padding:0.3em
			font-family:inherit
			z-index:3
			border:1px solid #cccccc

			@media (min-width: 520px) and (max-width: 768px)
				width: 100%

		.items
			position:relative
			width:100%
			top:45px
			padding-bottom:60px
			z-index:2
			font-size: 1.1em

		.item
			padding:7px 5px 7px 10px

			&:hover, &:active
				background-color: #00a3ff
				color:#ffffff
				cursor: pointer

		.selected
			@extends article#main .sidebar .item
			background-color: #00517f
			color:#ffffff
			
			&:hover, &:active
				background-color: #00517f

		footer
			position:fixed
			bottom:0
			width:460px
			z-index:3
			

			@media (max-width: 520px)
				width:100%

			@media (min-width: 520px) and (max-width: 768px)
				width: 40%

			button
				width:100%
				background-color:#0082cc
				color:#ffffff
				padding:0.45em
				font-family:inherit
				font-size:1.1em


	.main
		display:inline-block
		position:absolute
		top:50px
		left:480px
		right:0
		height:100%
		background-color: #ffffff
		padding-left:0

		@media (max-width: 520px)
			left: 0
			z-index: 20

		@media (min-width: 520px) and (max-width: 768px)
			left: 40%

		.show
			text-align:left

			header
				background-color:#00517f
				border:1px solid #ccccff

				.buttons
					display:inline-block
					padding:5px
					margin-left: 5px
					background:#0082cc
					border:1px solid #00a3ff
					color:#ffffff
					min-width:100px
					text-align: center

					&:hover
						background-color:#4cbeff
						cursor:pointer

					@media (max-width: 520px)
						width: 25%

					@media (min-width: 520px) and (max-width: 768px)
						width: 40%

				@media (min-width: 520px) 
					.back, .separator
						display: none

				.separator
					display: inline-block
					margin-left: 5px
					margin-right: 5px
					height: 100%
					width:1px
					background-color: #333333

			.content
				margin-top:20px

				p
					text-align:left
					margin-left:20px
					margin-top:20px

					strong
						color:#00517f
			
		.edit
			.buttons
				display:inline-block
				padding:5px
				background-color:#0082cc
				border:1px solid #9999ff
				color:#ffffff
				margin:20px 0 20px 20px

				&:hover
					background-color:#4cbeff
					cursor:pointer

			form
				margin:20px

				label
					margin-bottom:10px
					margin-right:10px

					input
						width: 200px

